%h1 Listing maskstores

%table
  %thead
    %tr
      %th Type
      %th Code
      %th Name
      %th Address
      %th Latitude
      %th Longitude
      %th
      %th
      %th

  %tbody
    - @maskstores.each do |maskstore|
      %tr
        %td= maskstore.type
        %td= maskstore.code
        %td= maskstore.name
        %td= maskstore.address
        %td= maskstore.latitude
        %td= maskstore.longitude
        %td= link_to 'Show', maskstore
        %td= link_to 'Edit', edit_maskstore_path(maskstore)
        %td= link_to 'Destroy', maskstore, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Maskstore', new_maskstore_path
