<section class="container my-4">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>분류명:</strong>
    <%= @category.description %>
  </p>

  <p>
    <strong>분류키:</strong>
    <%= @category.name %>
  </p>

  <%= link_to '수정', edit_category_path(@category) %> |
  <%= link_to '목록', categories_path %>
</section>